body {
  margin: auto;
  font-family: Helvetica, sans-serif;
  background-attachment: fixed;
}

#canvas {
  margin: auto;
  align-items: center;
  justify-content: center;
  margin: auto 15vw;
}

.full-height {
  min-height: 100vh;
}

.header {
  text-align: center;
  left: 0;
  right: 0;
}

h1 {
  font-family: Arial, serif;
}

@media (max-width: 700px) {
  #canvas {
    margin: auto 5vw;
  }
}
