{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>1st PPW Story</title>
        <link rel="stylesheet" href="{% static "css/foundation.css" %}">
        <link rel="stylesheet" href="{% static "css/app.css" %}">
        <link rel="stylesheet" href="{% static "css/style.css" %}">
    </head>
    <body style="background-image: url('{% static "assets/background.png" %}');">
    <div id="canvas">
        <section class="full-height grid-x align-middle align-center">
            <div class="header">
                <div class="text-center">
                    <h1>Hello, Welcome to my first PPW story</h1>
                </div>
            </div>
            <div class="grid-x align-middle">
                <div class="cell">
                    <div class="grid-x align-center-middle grid-margin-x">
                        <div class="medium-7 cell text-left">
                            <p>Hi there! My name is Jeremia Delviero Hutagalung.<br>
                                My NPM is 1706039875.<br>
                                I'm currently majoring Computer Science at University of
                                Indonesia.<br>
                                My hobbies are playing games and doing homework as soon as
                                possible.
                            </p>
                            <p>I'm from Bekasi. I hope that I can get good grades.</p>
                        </div>
                        <div class="medium-4 cell text-center">
                            <div>
                                <img src="{% static "assets/foto-keren.png" %}" alt="My image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="full-height grid-x align-middle align-center">
            <div class="header">
                <div class="text-center">
                    <h1>This is Aryo's first story</h1>
                </div>
            </div>
            <div class="grid-x align-middle">
                <div class="cell">
                    <div class="grid-x align-center-middle grid-margin-x">
                        <div class="medium-7 cell text-left">
                            <p>Meet my friend, his name is Aryo Tinulardhi.<br>
                                His NPM is 1706039875.<br>
                                He is currently majoring Computer Science at University of
                                Indonesia.<br>
                                His hobbies are doing business and listening to modern music.
                            </p>
                            <p>We are friends since highschool. He is active in many
                                organizations.
                            </p>
                        </div>
                        <div class="medium-4 cell text-center">
                            <div>
                                <img src="{% static "assets/foto-aryo.png" %}" alt="Aryo's image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="full-height grid-x align-middle align-center">
            <div class="header">
                <div class="text-center">
                    <h1>This is Hamri's first PPW story</h1>
                </div>
            </div>
            <div class="grid-x align-middle">
                <div class="cell">
                    <div class="grid-x align-center-middle grid-margin-x">
                        <div class="medium-7 cell text-left">
                            <p>Meet my new friend, his name is Hamri Hamdika.<br>
                                His NPM is 1406601524.<br>
                                He is currently majoring Mathematics at University of
                                Indonesia.<br>
                                His hobbies are solving math equations and
                                playing bridge.
                            </p>
                            <p>I just barely know him. He is now pursuing the Master degree.</p>
                        </div>
                        <div class="medium-4 cell text-center">
                            <div>
                                <img src="{% static "assets/foto-hamri.png" %}" alt="Hamri's image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="{% static "js/vendor/jquery.js" %}"></script>
    <script src="{% static "js/vendor/what-input.js" %}"></script>
    <script src="{% static "js/vendor/foundation.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
    </body>
</html>
